 <div class="row" id="resume">

    <div class="col-sm-6 prelude">
        <p id="joel">Joel's</p>
        <p id="title">Resume</p>
    </div>
    
    <div class="col-sm-6">
        <div class="row"> 
            <img class="avatar" src="images/him2.png"></img>
        </div>
    </div>
    
    <div class="info col-12">
        <div class="row">
            <div class="bio col"> 
                Express <b style="color: white;">|</b>&nbsp;
                React&nbsp; <b style="color: white;">|</b>&nbsp; 
                REST API&nbsp; <b style="color:white;">|</b>&nbsp; 
                Bootstrap&nbsp; <b style="color: white;">|</b>&nbsp; 
                MongoDb&nbsp; <b style="color: white;">|</b>&nbsp; 
                Javascript&nbsp; <b style="color: white;">|</b>&nbsp;
                jquery&nbsp; <b style="color: white;">|</b>&nbsp; 
                Node.js&nbsp; <b style="color: white;">|</b>&nbsp; 
                MySQL&nbsp; <b style="color: white;">|</b>&nbsp; 
                GraphQL&nbsp;
            </div>
        </div>
    </div>

</div>