/*Contact Section*/
#contacts {
    background-color: #C0C0C0;
    height: 100vh;
    padding: 50px;
}

h3 {
    color: #FFFFFF;
}

.contact-form {
    display:block;
}

.github-btn {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.linkedin-btn {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.input-fields .input,
.msg textarea {
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #FFFFFF;
    padding: 10px;
    color: #FFFFFF;
    width: 100%;
    max-width: 500px;
    height: 5%;
  
}

.msg textarea {
    height: 200px;
    max-width: 500px;
    max-height: 400px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #FFFFFF;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #FFFFFF;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #FFFFFF;
}
  
.btn {
    background: #184A54;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    text-transform: uppercase;
}

.email-link {
    color: #4261B5;
}