/*Project Section*/
#projects {
    height: 100vh;

}

.sub-box {
    padding: 15 px;
}

.big-circle{
    width: 150px;
    height: 150px;
    border: 10px solid #184A54;
    border-radius: 50%;
    margin: auto;
    position: relative;
}
.small-circle{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: -5px;
    background-image: url("profile-image.jpg");
    background-position: center;
    background-size: cover;
}

.heading-name{
 margin: 3px 0;   
}

.heading-work{
    color: #000000;
    font-weight: 300;
    margin: 3px 0;
}

p{
    padding: 0 20px;
    margin-bottom: 25px;
}

.project_btn{
    text-decoration: none;
    background: #000000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 1px 1px #184A54;
}

.follow_btn:hover{
    color: #FFDF4B;
    background: #DAF9F6;
    font-weight: 600;
}